@import '../../theme/variables.scss';

.lucera_wrap {
  background-color: white;
  width: 100%;
  overflow: hidden;
  position: relative;
  max-width: 1270px;
  margin: 0 auto;
}

.graphic_wrap {
  display: flex;
  flex-flow: column;
  align-items: flex-end;

  position: absolute;
  width: 100%;
  height: auto;
  margin: 4% 12% 0 0;
}

.hero_lucera_text_wrap {
  min-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 10% 3% 2%;

  h1 {
    line-height: .9em;
  }
}

.lucera_content_wrap {

}

.text_block {
  padding: 0 3%;
  width: 45%;

  .lucera_headline {
    font-family: $font-family-sans-serif;
    line-height: 1.4em;
  }

  .list_border {
    border-left: 7px solid $lucera_blue;
    margin-top: 12px;
    padding: 5px 15px;
  }
}

@media (max-width: $xs-max) {
  .text_block {
    width: 100%;
  }
}

@media (min-width: $sm-min) {
  .text_block {
    width: 65%;
  }
}

@media (min-width: $lg-min) {
  .text_block {
    width: 45%;
  }
}

.img_block {
  position: relative;
  max-width: 1000px;
  margin: 4% auto 0 auto;
  padding-bottom: 4%;

  .img_row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 6%;

    img {
      height: 0%;
      align-self: flex-start;
      padding: 0 3%;
  
      &:first-child {
        padding-right: 0;
      }
    }

    .image_1 { width: 75%; }
    .image_2 { width: 25%; }

    .image_3 { width: 30%; }
    .image_4 { width: 70%; }

    .image_5 { width: 80%; padding: 0; }

    .image_6 { width: 30%; }
    .image_7 { width: 70%; }

    .image_8 { width: 70%; }
    .image_9 { width: 30%; }
  }
}

@media (max-width: $xs-max) {

  .graphic_wrap {
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    position: absolute;
    width: 100%;
    max-width: 1300px;
    height: auto;
  }

  .hero_lucera_text_wrap {
    min-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 20% 3% 2%;
  }

  .img_row {
    flex-flow: column wrap;
    margin-top: 0 !important;

    img {
      flex: 1 1 50%;
      margin: 0 auto;
      padding: 5% !important;
    }

    .image_1 { width: 100%; }
    .image_2 { display: none; }

    .image_3 { width: 100%; }
    .image_4 { width: 100%; }

    .image_5 { width: 100%; padding: 0; }

    .image_6 { display: none; }
    .image_7 { width: 100%; }

    .image_8 { width: 100%; }
    .image_9 { display: none; }
  }
}

.btn_wrap {
  padding-bottom: 9%;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn_center {
    flex: 0 1 120px;
    background: white;
    color: $black;
    padding: 12px 0;
    border-color: $black;

    i {
      position: relative;
      top: 1px;
      

    }
  }
}


