@import '../../theme/variables.scss';

.graphic_wrap {
  display: flex;

  position: fixed;
  padding-top: 55px;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 0 !important;
}

.star_color, .star_lines {
  position: absolute;
  top: 10%; 
  right: 0;
  height: 75%;
  width: 75%;
  margin-right: -25%;
}
//////////////////////////////////
// z-index stuff
.star_color {
  z-index: 0;
}

.star_lines {
  z-index: 100;
}

.click2animate {
  z-index: 9999;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

///////////////////////////////////
// Media Queries

@media (max-width: $xs-max) { // phone
  .graphic_wrap {
    position: absolute;
    padding-top: 0;
    top: 45px;
    right: 0;
    height: 100%;
    width: 100%;
    
  }
  .star_color, .star_lines {
    position: absolute;
    top: 0; 
    right: 0;
    width: 35%;
    height: 35%;

    margin-right: 10%;
  }
}

@media (min-width: $sm-min) and (max-width: $md-max) { // tablet
  .graphic_wrap {
    position: absolute;
    padding-top: 0;
    top: 55px;
    right: 0;
    height: 100%;
    width: 100%;
    
  }
  .star_color, .star_lines {
    position: absolute;
    top: 0; 
    right: 0;
    width: 35%;
    height: 35%;
    margin-right: 10%;
  }
}

@media (min-width: $lg-min) { // laptop and up

}

// End Media Queries
//////////////////////////////////////////

