@import '../../theme/variables.scss';

.carol_wrap {
  padding-top: 2%;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.hero_carol_text_wrap {
  position: relative;
  top: 0;
  left: 0;
  padding: 10% 3% 3%;

  h1 {
    line-height: .9em;
  }
}

.graphic_wrap {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 0;
}

//////////////////////////////////////
// Content

.text_block {
  padding: 0 3%;
  z-index: 100;
  position: relative;
  color: $black;
  opacity: .7;

  .carol_headline {
    font-family: $font-family-sans-serif;
    line-height: 1.6em;
  }
}

///////////////////////////////////
// Media Queries

@media (max-width: $xs-max) { // phone
  .carol_bg {
    padding: 0 3%;
  }

  .hero_carol_text_wrap {
   padding-top: 0;

    h1 {
      line-height: .5em;
    }
  }

  .text_block {
    width: 100%;
    padding-top: 50%;
  }

  .image_1 {
    width: 90%;
    padding: 0 5%;
    margin: 26% auto;
    left: 0;
  }
}

@media (min-width: $sm-min) and (max-width: $md-max) { // tablet
  .carol_wrap {
    padding-top: 10%;
  }

  .text_block {
     margin-top: 10%;
  }

  .image_1 {
    width: 52%;
    padding: 5% 4% 0 0;
    margin: 0 0 0 0;
    float: right;
  }
}

@media (min-width: $lg-min) { // laptop and up
  .carol_wrap {
    border-left: 5px solid $black;
  }

  .text_block {
    width: 40%;

  }

  .image_1 {
    width: 58%;
    padding: 10% 1% 0 0;
    float: right;
  }
}

// End Responsive
//////////////////////////////////////////

.img_block {
  margin: 4% 0;
  position: relative;
  width: 100%;

  .img_row {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;

    margin: 10% 0;
    padding: 0 3%;
    width: 100%;
    max-width: 100%;

    img {
      flex: 1 1 auto;
      height: 100%;
      width: 100%;
      align-self: center;
      
      &:first-child {
        padding-right: 0;
      }
    }

    .image_2 { max-width: 1040px; }
    .image_3 {  }
    .image_4 { max-width: 1040px; }
    .image_5 {  }
    .image_6 { flex: 2; min-width: 50px; }
    .image_7 { flex: 1; min-width: 50px; }
  }
}

.btn_wrap {
  padding-bottom: 9%;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn_center {
    flex: 0 1 120px;
    background: white;
    color: $black;
    padding: 10px 15px;
    border-color: $black;
  }
}

