@import '../../theme/variables.scss';

.work_wrap {
  background: url('./bg-tan.jpg') repeat;
  width: 100%;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start; /* align items in Main Axis */
  // align-items: stretch; /* align items in Cross Axis */
  // align-content: stretch; /* Extra space in Cross Axis */
}

.work_list_wrap {
  position: relative;
  margin-top: 10%;

  h2 {
    padding-left: 3%;
  }
}

.lucera_project_wrap {
  background: rgba($pink, .5) !important;
  border: 20px solid red;
}

.alpine_project_wrap {
  background-color: rgba($yellow, .5);
}

.carol_project_wrap {
  background-color: rgba($red, .5);
}
