@import '../../theme/variables.scss';
// background: url('./fire-1.svg') no-repeat;

.hero_wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible;
}

.fireWrap {
  position: absolute;
	top: 0;
	left: 4px;
	width: 100%;
	height: 100%;
  z-index: 100;

  .fireColor, .fireLines {
    position: absolute;
    top: 100%;
    right: 0;
    width: 55%;
    min-width: 295px;
    min-height: 100%;

    @media (min-width: $screen-xs) {
    }
    @media (min-width: $screen-sm) {
    }
    @media (min-width: $screen-md) {
    }
    @media (min-width: $screen-lg) {
    }
  }

  .fireLines {
    margin-top: -0.5%;
    right: -.2%;
    width: 56.5%;
  }
}

.hero_text_wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 3%;
  padding-top: 1%;

  h1 {
    font-weight: 600;
    line-height: .95em;

    &.text_pink {
      color: $pink;
    }

    &.text_red {
      color: $red;
    }

    &.text_yellow {
      color: $yellow;
    }

    &.text_black {
      color: $black;
    }
  }

  h6 {
    margin-top: 7%;
    font-weight: 700;
    color: rgba(8, 20, 42, .6)
  }
}
