@import '../../theme/variables.scss';

.hero_inner {
  position: relative;
  overflow-y: visible;
}

.fire_wrap {
  position: absolute;
	top: 0;
	left: 4px;
	min-width: 100%;
	min-height: 100%;
  z-index: 100;

}

.hero_text_wrap {
  top: 0;
  width: 100%;
  height: 100%;
  padding-left: 3%;
  padding-top: 1%;

  h1 {
    line-height: .7em;

    &.text_pink {
      color: $pink;
    }

    &.text_red {
      color: $red;
    }

    &.text_yellow {
      color: $yellow;
    }

    &.text_black {
      color: $black;
    }
  }

  p {
    margin-top: 4%;
    font-weight: 400;
    color: rgba($black, .4);
    font-style: italic;
    font-family: $font-family-serif;
  }
}
