@import '../../theme/variables.scss';

.hero_wrap {
  position: relative;
  height: 100%;
  flex: 0 1 auto;

  .hero_inner {
    position: relative;
    overflow-y: visible;
    background-color: transparent;
    display: flex;
  }
}

.hero_text_wrap {
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1% 3% 0 3%;

  h1 {
    line-height: 1em;

    &.text_pink {
      color: $pink;
    }

    &.text_red {
      color: $red;
    }

    &.text_yellow {
      color: $yellow;
    }

    &.text_black {
      color: $black;
    }
  }

  p {
    margin-top: 4%;
    font-weight: 400;
    color: rgba($black, .4);
    font-style: italic;
    font-family: $font-family-serif;
  }
}


