@import '../../theme/variables.scss';

.hero_about_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  .hero_about_text_wrap {
    flex: none;
    min-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid red;
  }

  .graphic_wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
    width: 120%;
  }
}

.hero_about_text_wrap {
  h1 {
    line-height: 1em;

    &.text_pink {
      color: $pink;
    }

    &.text_red {
      color: $red;
    }

    &.text_yellow {
      color: $yellow;
    }

    &.text_black {
      color: $black;
    }
  }

  p {
    margin-top: 4%;
    font-weight: 400;
    color: rgba($black, .4);
    font-style: italic;
    font-family: $font-family-serif;
  }
}
