@import '../../theme/variables.scss';

.hero_about_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;  
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;

  .hero_about_text_wrap {
    flex: 1;
    width: 100%;
    padding-left: 3%;
    margin-top: -20%;
  }
  
  .graphic_wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
    width: 120%;
  }

  @media (max-width: $screen-xs) { // 415 and down
    display: block;

    .hero_about_text_wrap {
      margin-top: 12% !important;

      h1 {
        line-height: .85em;
      }
    }

    .graphic_wrap {
      width: 190%;
      top: 13%;
    }
  }
  
  @media (min-width: $screen-xs) and (max-width: $screen-sm) { // 415 and 768
    display: block;

    .hero_about_text_wrap {
      margin-top: 7% !important;
    }

    .graphic_wrap {
      width: 180%;
      top: 13%;
    }
  }

  @media (min-width: $screen-md) {
    .hero_about_text_wrap {
      
    }
  }
}

@media (max-width: $screen-xs) {

}

@media (max-width: $screen-md) {

}
@media (max-width: $screen-lg) {

}

.hero_about_text_wrap {
  h1 {
    line-height: 1em;

    &.text_pink {
      color: $pink;
    }

    &.text_red {
      color: $red;
    }

    &.text_yellow {
      color: $yellow;
    }

    &.text_black {
      color: $black;
    }
  }

  p {
    margin-top: 4%;
    font-weight: 400;
    color: rgba($black, .4);
    font-style: italic;
    font-family: $font-family-serif;
  }
}


