@import '../../theme/variables.scss';

.about_wrap {
  background: url('./bg-tan.jpg') repeat;
  background-size: 400px 1184px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// .about_content_wrap {
//   display: flex;
//   flex-flow: column;
//   align-items: flex-start;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
//   position: relative;
//   top: 0;
//   left: 0;
//   padding-top: 5%;
//   padding-left: 3%;
//   overflow: hidden;
//
//   div {
//     flex: 1;
//     width: 100%;
//     padding-left: 3%;
//     margin-top: -20%;
//     position: relative;
//     top: 0;
//     left: 0;
//   }
// }
