@import "../../theme/variables.scss";

.content {
  background: url('./bg-tan.jpg') repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  padding-top: 75px;
}

.hero_wrap {
  // position: relative;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // border: 4px solid blue;
  // padding-bottom: 20px;
}

.dummy_text {
  max-width: 50%;
  margin: 0 auto;
  color: transparent;
  // display: none;
}
