// @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic);
// == Colors

// ## Gray and brand colors for use across Bootstrap.

// $gray-base:             rgba(8, 20, 42, 1);
// $gray-darker:           lighten($gray-base, 13.5%) !default; // #222
// $gray-dark:             lighten($gray-base, 20%) !default;   // #333
// $gray:                  lighten($gray-base, 33.5%) !default; // #555
// $gray-light:            #4E5D6C !default;   // #999
// $gray-lighter:          #EBEBEB !default; // #eee

$brand-primary:         #DF691A !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$black:                 rgba(8, 20, 42, 1);
$pink:                  rgba(239, 91, 161, 1);
$red:                   rgba(241, 92, 42, 1);
$yellow:                rgba(255, 189, 31, 1);
$white:                 rgba(246, 240, 228, 1);
$alpine_blue:           rgba(57, 66, 81, 1);
$alpine_white:          rgba(164, 179, 179, 1);

// $font-family-serif:  "Sorts Mill Goudy", Times, serif !default;
$font-family-serif:     "Droid Serif", "Times New Roman", Times, serif !default;
// $font-family-serif:  "Libre Baskerville", Times, serif !default;

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-family-sans-serif:  "Droid-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
  font-weight: 700;
}

p {
  font-family: $font-family-sans-serif;
  font-size: 1.1em;

  &.large {

  }

  &.small {

  }
}

// Media Queries
$screen-xs: 415px; // iphone 
$screen-sm: 768px; // ipad
$screen-md: 1024px; // laptop
$screen-lg: 1440px; // desktop

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#content {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

//////////////////////////
nav.navbar.navbar-default {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 55px;
  margin-left: 3%;
  
  .container {
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 55px;
  }
}

////////////////////////

.text_pink { color: $pink; }
.text_red { color: $red; }
.text_yellow { color: $yellow; }
.text_black { color: $black; }

.flex_1 { flex: 1; }
.flex_2 { flex: 2; }
.flex_3 { flex: 3; }
.flex_4 { flex: 4; }
.flex_5 { flex: 5; }   
.flex_6 { flex: 6; }
.flex_7 { flex: 7; }
.flex_8 { flex: 8; }

// Navbar
$navbar-height:                            50px;
// $navbar-margin-bottom:                  $line-height-computed !default;
// $navbar-border-radius:                  $border-radius-base !default;
// $navbar-padding-horizontal:             floor(($grid-gutter-width / 2)) !default;
// $navbar-padding-vertical:               (($navbar-height - $line-height-computed) / 2) !default;
// $navbar-collapse-max-height:            340px !default;

$navbar-default-color:                     $black;
$navbar-default-bg:                        transparent;
$navbar-default-border:                    transparent;

// Navbar links
$navbar-default-link-color:                $black;
$navbar-default-link-hover-color:          $pink;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $red; // Active tab
$navbar-default-link-active-bg:            transparent;
// $navbar-default-link-disabled-color:       #ccc !default;
// $navbar-default-link-disabled-bg:          transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $black;
$navbar-default-toggle-icon-bar-bg:        $black;
$navbar-default-toggle-border-color:       $black;


//== Navs
$nav-link-padding:                          auto;
$nav-link-hover-bg:                         transparent;

$nav-disabled-link-color:                   transparent;
$nav-disabled-link-hover-color:             $red;

//== Tabs
$nav-tabs-border-color:                     transparent;

$nav-tabs-link-hover-border-color:          transparent;

$nav-tabs-active-link-hover-bg:             transparent;
$nav-tabs-active-link-hover-color:          transparent;
$nav-tabs-active-link-hover-border-color:   transparent;

$nav-tabs-justified-link-border-color:            transparent;
$nav-tabs-justified-active-link-border-color:     $red;

//== Pills
$nav-pills-border-radius:                   0;
$nav-pills-active-link-hover-bg:            green;
$nav-pills-active-link-hover-color:         blue;



//== Dropdowns
$dropdown-bg:                    transparent;
$dropdown-border:                transparent;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       transparent;
$dropdown-divider-bg:            $red;

//** Dropdown link text color.
$dropdown-link-color:            $black;
$dropdown-link-hover-color:      $red;
$dropdown-link-hover-bg:         transparent;

$dropdown-link-active-color:     $red;
$dropdown-link-active-bg:        transparent;

$dropdown-header-color:          blue;

$dropdown-caret-color:           $red;
