// @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic);
// == Colors

// ## Gray and brand colors for use across Bootstrap.

// $gray-base:             rgba(8, 20, 42, 1);
// $gray-darker:           lighten($gray-base, 13.5%) !default; // #222
// $gray-dark:             lighten($gray-base, 20%) !default;   // #333
// $gray:                  lighten($gray-base, 33.5%) !default; // #555
// $gray-light:            #4E5D6C !default;   // #999
// $gray-lighter:          #EBEBEB !default; // #eee

$brand-primary:         #DF691A !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$black:                 rgba(8, 20, 42, 1);
$pink:                  rgba(239, 91, 161, 1);
$red:                   rgba(241, 92, 42, 1);
$yellow:                rgba(255, 189, 31, 1);
$white:                 rgba(246, 240, 228, 1);

// $font-family-serif:  "Sorts Mill Goudy", Times, serif !default;
$font-family-serif:     "Droid Serif", "Times New Roman", Times, serif !default;
// $font-family-serif:  "Libre Baskerville", Times, serif !default;

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-family-sans-serif:  "Droid-Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
  font-weight: 700;
}

p {
  font-family: $font-family-sans-serif;

  &.large {

  }

  &.small {

  }
}

// Media Queries
$screen-xs: 415px;
$screen-sm: 768px;
$screen-md: 1200px;
$screen-lg: 1440px;

$xs-up: $screen-xs;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#content {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start; /* align items in Main Axis */
  // align-items: stretch; /* align items in Cross Axis */
  // align-content: stretch; /* Extra space in Cross Axis */
  // flex: 1;
}

.text_pink {
  color: $pink;
}

.text_red {
  color: $red;
}

.text_yellow {
  color: $yellow;
}

.text_black {
  color: $black;
}
