@import '../../theme/variables.scss';

.nav_wrap {
  position: fixed;
  display: flex;
  height: 55px;
  width: 100%;
  flex-flow: row nowrap;
  align-content: center;
  margin: 0;
  padding: 0 0 0 3%;
  align-items: center;
  z-index: 1000;
  // border-bottom: 1px solid rgba(8, 20, 42, .1);

  .nav_li {
    flex: 0 0 60px;
    text-align: left;
    font-size: 1em;

    a {
      color: $black;

      &:hover {
        color: $red;
      }
    }
  }
}
