@import '../../theme/variables.scss';

.nav_wrap {
  position: fixed;
  display: flex;
  height: 55px;
  width: 100%;
  flex-flow: row nowrap;
  align-content: center;
  margin: 0;
  padding: 0 0 0 3%;
  align-items: center;
  background: rgba(8, 20, 42, .2);
  z-index: 1000;
  // @extend .margin-left;
  // justify-content: space-around;
  // align-items: stretch;

  .nav_li {
    flex: 0 0 100px;
    text-align: left;
    font-size: 1.2em;

    a {
      color: $black;

      &:hover {
        color: $red;
      }
    }
  }
}
