@import '../../theme/variables.scss';

.fire_color, .fire_lines {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  min-width: 295px;
  min-height: 100%;

  @media (min-width: $screen-xs) {
  }
  @media (min-width: $screen-sm) {
  }
  @media (min-width: $screen-md) {
  }
  @media (min-width: $screen-lg) {
  }
}

.fire-lines {
  margin-top: -0.5%;
  right: -.2%;
  width: 56.5%;
  // border: 2px solid red;
}

.fire-color {
  opacity: .5;
}

.appear {
  opacity: 0.01;
}

.appear.appearActive {
  opacity: 1;
  transition: opacity 3s ease-in;
}

.enter {
  opacity: 0.01;
  transition: opacity 3s ease-in;
}

.enter.enterActive {
  opacity: 1;
}

.leave {
  opacity: 1;
  transition: opacity 3s ease-in;
}

.leave.leaveActive {
  opacity: 0.01;
}


.click2animate {
  z-index: 999;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}
