@import '../../theme/variables.scss';

// See bootstrap.overrides.scss for most of the formatting

.mailto_wrap {
  margin-bottom: -1px;

  a {
    color: $black;

    &:hover, &:focus, &:active {
      color: $red;
      text-decoration: none;
    }
  }
}





