@import '../../theme/variables.scss';

.nav_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  position: relative;
  margin-top: 3%;
  width: 30%;
  min-width: 250px;
  z-index: 1000;

  .nav_item { 
    flex: 1; 
    height: auto;

    @media (max-width: $screen-xs) { // 415 and down
      height: 35px;
    }

    a { 
      color: $black;

      &:hover { 
        color: $red;
      }
    }
  }

  @media (max-width: $screen-xs) { // 415 and down
    flex-flow: column wrap;
    margin-top: 7%;
    min-width: 180px;
    z-index: 2000;
  }
}
