@import '../../theme/variables.scss';

.bulb_inner_wrap {
  width: 35%;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.bulb {
  flex: 1;

  @media (min-width: $screen-xs) {}
  @media (min-width: $screen-sm) {}
  @media (min-width: $screen-md) {}
  @media (min-width: $screen-lg) {}
}

.bulb {
  z-index: 100;
}

.click2animate {
  z-index: 9999;
  position: absolute;
  width: 35%;
  min-height: 100%;
}
