@import '../../theme/variables.scss';

.bulb_inner_wrap {
  height: 100%;
  width: 35%;
}

.bulb {
  z-index: 100;
}

.click2animate {
  z-index: 9999;
  position: absolute;
  width: 35%;
  min-height: 100%;
}
