@import '../../theme/variables.scss';

$click_cover_width: 35%;

.bulb_inner_wrap {
  width: $click_cover_width;
  margin: 7% 5%;
  max-width: 420px;
}

.bulb {
  z-index: 100;
}

.click2animate {
  z-index: 9999;
  position: absolute;
  width: $click_cover_width;
  min-height: 100%;
}
