@import '../../theme/variables.scss';

.work_item_wrap {
  border-image: url("./border1.png");
  border-image-slice: 1;
  border-image-width: 3 3 0 3;
}

.work_item_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  
  .work_item_img, .work_item_description {
    // as flex item
    flex: 1 1 auto;

    // as flex container
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: row nowrap;

    // other
    max-width: 430px;
    margin: 1% 3% 3% 3%;
    padding: 0;
    
    .text_block {
    }
  }
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: bullet;
  padding-left: 15px;

  li {
    padding-bottom: 5px;
    opacity: .7;
  }
}



