@import '../../theme/variables.scss';

.alpine_bg {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-color: $alpine_blue;
  padding-top: 55px;
  padding-left: 3%;
  margin: 0;
}

.alpine_wrap {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
}

.hero_alpine_text_wrap {
  position: relative;
  top: 0;
  left: 0;
  padding: 10% 3% 3%;

  h1 {
    line-height: .9em;
  }
}

.graphic_wrap {
  display: flex;
  flex-flow: column;
  align-items: flex-end;

  position: absolute;
  width: 100%;
  height: auto;
  padding: 8% 0 0 0;
}

//////////////////////////////////////
// Content

.text_block {
  padding: 0 3%;
  z-index: 100;
  position: relative;
  color: $white;

  .alpine_headline {
    font-family: $font-family-sans-serif;
    line-height: 1.6em;
  }
}

@media (max-width: $xs-max) { // phone
  .alpine_bg {
    padding: 0 3%;
  }

  .text_block {
    width: 100%;
  }

  .image_1 {
    width: 60%;
    margin: 6% 6% 0 0;
  }

  .image_6 {  }
  .image_7 {  }
}

@media (min-width: $sm-min) and (max-width: $md-max) { // tablet
  .text_block {
    
  }

  .image_1 {
    width: 50%;
    margin-right: 12%;
  }

  .alpine_bg {
    padding-left: 0;
  }
}

@media (min-width: $lg-min) { // laptop and up
  .alpine_wrap {
    border-left: 5px solid $yellow;
  }

  .text_block {
    width: 35%;
  }

  .image_1 {
    width: 65%;
  }
}

.img_block {
  margin: 4% 0;
  position: relative;
  width: 100%;

  .img_row {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;

    margin: 5% 0;
    padding: 0 3%;
    width: 100%;
    max-width: 100%;

    img {
      flex: 1 1 auto;
      height: 100%;
      width: 100%;
      align-self: center;
      
      &:first-child {
        padding-right: 0;
      }
    }

    .image_2 { max-width: 1040px; }
    .image_3 {  }
    .image_4 { max-width: 1040px; }
    .image_5 {  }
    .image_6 { flex: 2; min-width: 50px; }
    .image_7 { flex: 1; min-width: 50px; }
  }
}

.btn_wrap {
  padding-top: 4%;
  padding-bottom: 9%;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn_group_center {

    a {
      background: $pink;
      color: $black;
      padding: 10px 15px;

      i {
        position: relative;
        top: 1px;
      }
    }

  }
}



